{% extends 'base.html' %}

{% block body %}
<center>
 <h4 class="title"><strong>MY Introduction</strong> </h4>

  <p>I'm Aniket Pratap Maurya. I'm in class  9th. I'm an pentester but not certified because of AGE restriction for Benig Certified.</p>
 <p>My current aim is to start an FullStack Buisness after compleating school.</p>

  <p>I'm a programmer too and intersted in Advance electronics, Robotics and physics!</p>
  <p>I'm 14 in age..'From India'..</p>
      
<h3>Programmings Languages I know.</h3>
<h5># C++</h5>
<h5># C</h5>
<h5># BASIC</h5>
<h5># Unix Shell</h5>
<h5># Python</h5>
<h5># PowerShell</h5>
<h5># Curl</h5>
<h5># Bash</h5>
<h5># A# .NET</h5>
<h5># Java, Java Script</h5>
<h5># C#</h5>
<h5># haskell</h5>
<h5># Paskell</h5>
<h5># Ruby on Rails</h5>
<h5># Perl</h5>
<h5># Assembly</h5>
<h5># HTML</h5>
<h5># CSS</h5>
<h5># Embedded C,Pyhton,C++</h5>
  <h5># SQL (structured Query Language)</h5>
<h5># PHP</h5>
<h2>Socail Link and Contact.</h2>
  <h3>My brother is also an pentester..!</h3>
  <a href="https://dark-scripter.herokuapp.com/main.html">____Dark_Scripter____</a>
  <h3>Instagram</h3>
<a href="https://www.instagram.com/_____dark_coder______/">____Dark_Coder____</a>
  <h3>Linkedin</h3>
<a href="https://www.linkedin.com/in/aniket-maurya-786b541a6/">Dark_Coder</a>
 <h3>E-Mail</h3>
 <h4>aniketmaurya399@gmail.com</h4>  </center>
{% endblock body %}